<!-- <h1>Hello World {{title }}</h1>
<h2>Angular {{blog}}</h2>
<h5>{{2+23}}</h5>
<h6 class={{blog}}>{{blog}}</h6>
<app-user-list></app-user-list>
<app-student-list></app-student-list>
<app-country-list></app-country-list>
<app-login></app-login>
<app-login1></app-login1>
<button (click)="getdata('Hello')">Click function</button> <br>
<input type="text" #box (keyup)="getdata(box.value)" placeholder="event keyup"><br>
<input type="text" #box1 (keydown)="getdata(box1.value)" placeholder="event keydown"><br>
<input type="text" #box2 (blur)="getdata(box2.value)" placeholder="event blur"><br>
<input type="text" #box3 (input)="getdata(box3.value)" placeholder="event input"><br>

<h1 (mouseover)="getdata('over')">Mouse over</h1><br>
<h1 (mouseleave)="getdata('leave')">Mouse leave</h1>


<input type="text"#box4 placeholder="Enter Name" name="name">
<button (click)="getvalue(box4.value)">Click</button>
<p>Name is {{displayval}} </p>
<br>
<button (click)="counter('plus')">++</button>
<p>count:{{count}}</p>
<button (click)="counter('')">--</button><br><br>

<button (click)="getname('hello')">Button</button><br><br>


<input type="text" #boxbox (keyup)="getinput(boxbox.value)" placeholder="input keyup" /> <br> <br>

<h3>{{title1}}</h3><br><br>
<h3 *ngIf="show">code step by step</h3>
<ng-template #elseblock>
    <h3>else condition</h3>
</ng-template>


 -->