<!-- <app-header></app-header>
<app-sidebar></app-sidebar> -->

<div
  class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-10 col-lg-10 col-xxl-6">
        <div class="card mb-0">
          <div class="card-body">
            <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
              <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
            </a>
            <p class="text-center">Add Employee</p>
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input [(ngModel)]="addForm.name" [ngModelOptions]="{standalone: true}" matInput placeholder="Ex. Mahesh" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input  [(ngModel)]="addForm.email"  type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"placeholder="Ex. pat@example.com" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3">
                <label for="exampleInputGender" class="form-label">Gender</label>
                <!-- <input  [(ngModel)]="addForm.gender" [ngModelOptions]="{standalone: true}" matInput placeholder="gender" class="form-control" id="exampleInputPassword1"> -->
                <select name="" id="" [(ngModel)]="addForm.gender" [ngModelOptions]="{standalone: true}" matInput placeholder="gender" class="form-control" id="exampleInputGender">
                  <option value="male">Male</option>
                  <option value="female">Female</option>

                </select>
              </div>
              <div class="mb-3">
                <label for="exampleInputCity" class="form-label">City</label>
                <input  [(ngModel)]="addForm.city" [ngModelOptions]="{standalone: true}" matInput placeholder="Enter city name" class="form-control" id="exampleInputCity">
              </div>
              <div class="mb-3">
                <label for="exampleInputDob" class="form-label">DOB</label>
                <input  [(ngModel)]="addForm.dob" [ngModelOptions]="{standalone: true}" matInput type="date" placeholder="Enter dob" class="form-control" id="exampleInputDob">
              </div>
              <!-- <div class="d-flex align-items-center justify-content-between mb-4">
                <div class="form-check">
                  <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                  <label class="form-check-label text-dark" for="flexCheckChecked">
                    Remeber this Device
                  </label>
                </div>
                <a class="text-primary fw-bold" href="./index.html">Forgot Password ?</a>
              </div> -->
              <a (click)="onSubmit()" routerLink="/listusers" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Submit</a>
              <div class="d-flex align-items-center justify-content-center">
                <!-- <p class="fs-4 mb-0 fw-bold">New to Modernize?</p> -->
                <!-- <a class="text-primary fw-bold ms-2" href="./authentication-register.html">Create an account</a> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <app-footer></app-footer> -->
